.react-calendar-heatmap .color-scale-0 {
  fill: #d7eed2; /* 0 to 500 */
}
.react-calendar-heatmap .color-scale-1 {
  fill: #d1ecc8; /* 501 to 1000 */
}
.react-calendar-heatmap .color-scale-2 {
  fill: #cbeac5; /* 1001 to 1500 */
}
.react-calendar-heatmap .color-scale-3 {
  fill: #b5e1b0; /* 1501 to 2000 */
}
.react-calendar-heatmap .color-scale-4 {
  fill: #aedda9; /* 2001 to 2500 */
}
.react-calendar-heatmap .color-scale-5 {
  fill: #93cf91; /* 2501 to 3000 */
}
.react-calendar-heatmap .color-scale-6 {
  fill: #75bd78; /* 3001 to 3500 */
}
.react-calendar-heatmap .color-scale-7 {
  fill: #80c481; /* 3501 to 4000 */
}
.react-calendar-heatmap .color-scale-8 {
  fill: #6cb771; /* 4001 to 4500 */
}
.react-calendar-heatmap .color-scale-9 {
  fill: #61b068; /* 4501 to 5000 */
}
.react-calendar-heatmap .color-scale-10 {
  fill: #59aa62; /* 5001 to 5500 */
}
.react-calendar-heatmap .color-scale-11 {
  fill: #4fa25a; /* 5501 to 6000 */
}
.react-calendar-heatmap .color-scale-12 {
  fill: #3d944e; /* 6001 to 6500 */
}
.react-calendar-heatmap .color-scale-13 {
  fill: #2d8643; /* 6501 to 7000 */
}
.react-calendar-heatmap .color-scale-14 {
  fill: #1a6f33; /* 7001 to 7500 */
}
.react-calendar-heatmap .color-scale-15 {
  fill: #1a6f33; /* 7501 to infinity */
}
.react-calendar-heatmap .color-empty {
  fill: #ecf2ea; /* Default or empty */
}

.color-scale-0 {
  background-color: #d7eed2; /* 0 to 500 */
}
.color-scale-1 {
  background-color: #d1ecc8; /* 501 to 1000 */
}
.color-scale-2 {
  background-color: #cbeac5; /* 1001 to 1500 */
}
.color-scale-3 {
  background-color: #b5e1b0; /* 1501 to 2000 */
}
.color-scale-4 {
  background-color: #aedda9; /* 2001 to 2500 */
}
.color-scale-5 {
  background-color: #93cf91; /* 2501 to 3000 */
}
.color-scale-6 {
  background-color: #75bd78; /* 3001 to 3500 */
}
.color-scale-7 {
  background-color: #80c481; /* 3501 to 4000 */
}
.color-scale-8 {
  background-color: #6cb771; /* 4001 to 4500 */
}
.color-scale-9 {
  background-color: #61b068; /* 4501 to 5000 */
}
.color-scale-10 {
  background-color: #59aa62; /* 5001 to 5500 */
}
.color-scale-11 {
  background-color: #4fa25a; /* 5501 to 6000 */
}
.color-scale-12 {
  background-color: #3d944e; /* 6001 to 6500 */
}
.color-scale-13 {
  background-color: #2d8643; /* 6501 to 7000 */
}
.color-scale-14 {
  background-color: #1a6f33; /* 7001 to 7500 */
}
.color-scale-15 {
  background-color: #1a6f33; /* 7501 to infinity */
}
.color-empty {
  background-color: #ecf2ea; /* Default or empty */
}
