.react-calendar-heatmap .color-scale-0 {
  fill: #dcf2b6;
}
.react-calendar-heatmap .color-scale-1 {
  fill: #b8f357;
}
.react-calendar-heatmap .color-scale-2 {
  fill: #42d40f;
}
.react-calendar-heatmap .color-scale-3 {
  fill: #42b919;
}
.react-calendar-heatmap .color-scale-4 {
  fill: #0ca00c;
}
.react-calendar-heatmap .color-scale-5 {
  fill: #058505;
}
.react-calendar-heatmap .color-scale-6 {
  fill: #036603;
}
.react-calendar-heatmap .color-scale-7 {
  fill: #023d02;
}
.react-calendar-heatmap .color-empty {
  fill: #d7eed2;
}

// for legend
.color-scale-0 {
  background-color: #dcf2b6;
}
.color-scale-1 {
  background-color: #b8f357;
}
.color-scale-2 {
  background-color: #42d40f;
}
.color-scale-3 {
  background-color: #42b919;
}
.color-scale-4 {
  background-color: #0ca00c;
}
.color-scale-5 {
  background-color: #058505;
}
.color-scale-6 {
  background-color: #036603;
}
.color-scale-7 {
  background-color: #023d02;
}
.color-empty {
  background-color: #d7eed2;
}

/* Custom styles for the tooltip if needed */
// .react-tooltip {
//   @apply bg-gray-700 text-white text-sm rounded px-2 py-1;
// }
