.signup-select-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
  }

.signup-select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-flex;
    padding: 14px 18.2px 14px 12px;
    align-items: center;
    gap: 199px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: #000000;
    width: 100%;
    border: 1px solid #e2e5ec;
    font-family: Satoshi;
    // font-size: 16px;
    // font-weight: 700;
    text-align: left;
    outline: none;
}

.arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}
  